# Fichiers sensibles
.env
*.key

# Fichiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environnements virtuels
venv/
.env/
.env.bak/
*.env

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers Streamlit temporaires
.streamlit/

